body {
    @apply relative overflow-hidden bg-transparent p-0.5 h-screen;
}

#app {
    @apply h-full bg-gradient-to-tl from-primary/25 to-transparent to-75% bg-no-repeat bg-card rounded-xl border shadow-sm;
    /* animation: slow-glow 8s infinite ease-in-out alternate; TODO: uses like 12% gpu */
}

.dot-background {
    background-image: radial-gradient(circle, var(--color-gray-300) 1px, transparent 1px);
    background-size: 20px 20px;
    background-position: 0 0;
}

@keyframes slow-glow {
    0% {
        --tw-gradient-to-position: 70%;
    }

    100% {
        --tw-gradient-to-position: 85%;
    }
}

/* @apply relative overflow-hidden bg-radial-[at_100%_100%] from-primary/40 to-transparent to-75%; */

/* body::after {
    @apply absolute top-full left-full -translate-y-1/2 -translate-x-3/5 w-full aspect-square content-[''] -z-10 bg-radial from-primary to-50% to-transparent;
    animation: slow-pulse 10s infinite ease-in-out alternate;
} */

/* 
@keyframes slow-pulse {
    0% {
        transform: scale(1);
        opacity: 0.4;
    }

    100% {
        transform: scale(1.05);
        opacity: 0.6;
    }
} */