html {
    font-size: 80%;
}
::selection {
  background: color-mix(in srgb, var(--primary) 8%, transparent); 
}

@layer base {
	@font-face {
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 100 900;
		src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype-variations"),
			url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
	}

	@font-face {
		font-family: "Montserrat";
		font-style: italic;
		font-weight: 100 900;
		src: url("../fonts/Montserrat-Italic-VariableFont_wght.ttf") format("truetype-variations"),
			url("../fonts/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
	}
}
