html {
    font-size: var(--app-font-size);
}

.strikethrough {
    position: relative;
    white-space: nowrap;
}

.strikethrough:after {
    border-top: 1px solid var(--color-foreground);
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 0;
    transition: width 0.3s ease-out;
}

.has-strikethrough:after {
    width: 100%;
}

::selection {
  background: color-mix(in srgb, var(--primary) 8%, transparent); 
}

@layer base {
	@font-face {
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 100 900;
		src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype-variations"),
			url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
	}

	@font-face {
		font-family: "Montserrat";
		font-style: italic;
		font-weight: 100 900;
		src: url("../fonts/Montserrat-Italic-VariableFont_wght.ttf") format("truetype-variations"),
			url("../fonts/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
	}
}
