/* ------- FADE ----------- */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.35s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}


/* ------- AUTO-ANIMATE CLONE --------  */
.auto-move {
  transition: transform 250ms ease-in-out;
}

.auto-enter-active,
.auto-leave-active {
  transition: all 250ms ease-in-out;
}

.auto-leave-active {
  position: absolute;
  width: 100%; 
}

.auto-enter-from,
.auto-leave-to {
  opacity: 0;
  transform: scale(0.95); 
}






/* -------- LIST ---------- */
.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 0.25s ease-in-out;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.list-leave-active {
  position: absolute;
}
